@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Condensed:wght@300&display=swap');

* {
  --rood: #dd3038;
  --oranje: #e7613a;
  --licht-oranje: #FDF4F2;
  --zwart: #292929;
  --wit: #FFFFFF
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* h1,h2,h3,h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}